// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Nos couleurs:

$blue_marine: #373456;
$light_grey:#B1B5CC;
$very_light_grey: #EBECF1;
$white : white  ;
$pink : #FA868B;
$light-green : #97E4DD;
$light-green-50 : #97e4de7b;
$light-green-10 : #97e4de21;
$blue-king : #4451B2;
$pink_50: rgba(250,134,139, 0.5) ;
$grey_50: rgba(151, 228, 221,0.5);
$blue_king_50: #4451b287;
$blue-king_20 : rgba(68,81,178,0.2);
