<div class="navigation">
  <%= video_tag "course.mp4", size: "620x440", data: {video_target: "video"}, muted: "muted", autoplay: true, loop: true, class: "video"%>
  <div class="homme-page">
    <h1>PANIMA</h1>
    <p>Révolutionnez la gestion de vos stocks.</p>
    <%= link_to "Gérer mon magasin autonome", dashboard_path %>
  </div>
</div>
