*,*:before,*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: $very_light_grey;
}
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient(
      #97E4DD,
      #23a2f6
  );
  left: -80px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #FA868B,
      #f97054
      );
      right: -30px;
      bottom: -80px;
      // #f09819
}
.glass-form{
  height: 540px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.1);
  padding: 50px 35px;
}
.glass-form *{
  font-family: 'Poppins',sans-serif;
  color: rgba(68, 81, 178, 0.8);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  text-decoration: none;
}
.glass-form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.glass-form label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.glass-form input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.glass-form input.btn{
  margin-left: 50px;
  padding: 8px;
  background-color: #4451B2;
  border-radius: 30px;
  width: 228px;
  height: 46px;
  color: white;
  opacity: 50%;

}

.glass-form input.btn:hover{
  color: #4451B2;
  opacity: 0.8;
  border: 1px solid #97E4DD;
}

.glass-form ::placeholder{
  color: #e5e5e5;
}
.glass-form button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.glass-form .form-check-input[type="checkbox"] {
  height: 16px;
  border-color: rgba(68, 81, 178, 0.8);
  width: 20px !important;
  border: 1px solid !important;
  position: relative !important;
  top: -3px !important;
}

// .glass-form label.form-check-label.boolean.optional{
//   padding-left:10px;
//   color: rgba(68, 81, 178, 0.8);

// }

.go{
    display: flex;
    justify-content: space-around;
    /* margin: 0; */
    flex-grow: 1;
    align-items: center;
    position: relative;
    bottom: 16px;
    margin-top: 8px;
}

.social{
margin-top: 30px;
display: flex;
}
.social div{

width: 150px;
border-radius: 3px;
padding: 5px 5px 5px 10px;
// background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
transition: 1s cubic-bezier(0.39, 0.58, 0.57, 1)
}
.social div:hover{
transform: scale(1.05);
}
